/* font */
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Titillium+Web:wght@700&display=swap');

* {
  font-family: 'Titillium Web', sans-serif;
  font-size: .9rem;
}

body {
  align-items: center;
  justify-content: space-between;
  background-color: rgb(14, 14, 14) !important;
  display: flex;
  width: 100%;
  flex-direction: column;
  color: white !important;
  font-family: 'Titillium Web', sans-serif;
}

.catcard {
  display: flex;
  flex-direction: row ;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 0;
  justify-content: space-around;
  
  
}
.catcard img{
  height: 22rem !important;
  width: 18rem !important;
}
  #root {
  width: 100%;
}

.body{
  height: 500px;

}

 .footer {
    height: 5rem;
    width: 100%;
    background-color: rgb(112, 116, 124);
    color: white;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    position: fixed;
    bottom: 0;
  
} 

.more-button {
  border: 1rem;
  border-radius: .25rem;
  border-color: white;
  color: white;
  background-color: rgb(84, 84, 84); 
  width: 8rem;
  padding: 0;
}

img {
  height: 7.5rem;
  width: 10rem;
}
 
.text-container{
  height: 0;
  width: auto;
  font-size: 2rem;
}

.footer-textbox{
  height: 18px;
  width: auto;
}
