
body {
  align-items: center;
  justify-content: space-between;
  background-color: rgb(14, 14, 14) !important;
  display: flex;
  width: 100%;
  flex-direction: column;
  color: white !important;
}

.catcard {
  display: flex;
  flex-direction: row ;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 0;
}
  #root {
  width: 100%;
}

.body{
  height: 500px;

}

 .footer {
    height: 5rem;
    width: 100%;
    background-color: rgb(112, 116, 124);
    color: white;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    position: absolute;
    bottom: 0;
  
} 

.more-button {
  border: 1rem;
  border-radius: .25rem;
  border-color: white;
  color: white;
  background-color: rgb(84, 84, 84); 
  width: 8rem;
  padding: 0;
}

