
body {
  align-items: center;
  justify-content: center;
}


.header {
  height: 5rem;
  width: 100%;
  background-color: black;
  color: white;
  flex-direction: row;
  justify-content: space-around;
  display: flex;

  }

  .footer {
    height: 5rem;
    width: 100%;
    background-color: black;
    color: white;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    position: absolute;
    bottom: 0;
  
    }

